@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

.container {
  background: white;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: breakpoint.$mobile) {
    box-shadow:
      0 4px 8px -2px rgb(16 24 40 / 10%),
      0 2px 4px -2px rgb(16 24 40 / 6%);
    border-radius: space.$s2;
    border: 1px solid color.$gray-200;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.headerRow {
  border-bottom: 1px solid color.$gray-200;
  display: none;

  @media (min-width: breakpoint.$mobile) {
    display: table-row;
  }
}

.headerCell {
  padding: space.$s3 space.$s6;
  text-align: left;
  color: color.$gray-500;
  font: font.$text-xs-medium;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: space.$s4 space.$s6;
  border-top: 1px solid color.$gray-200;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: breakpoint.$mobile) {
    display: table-row-group;
  }
}

.paginationButton {
  height: 38px;
  padding: space.$s0 space.$s4;
  background: white;
  border: 1px solid color.$gray-300;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border-radius: 6px;
}

.paginationButton:not(:first-of-type) {
  margin-left: space.$s3;
}

.pageInfo {
  color: color.$gray-700;
  font: font.$text-sm-regular;
}

.pageNumber {
  font: font.$text-sm-medium;
}
