@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

.row {
  border-radius: 0.5rem;
  border: 1px solid color.$gray-200;
  box-shadow:
    0 1px 3px 0 rgb(16 24 40 / 10%),
    0 1px 2px 0 rgb(16 24 40 / 6%);
  padding: 0.75rem 1.25rem;

  @media (min-width: breakpoint.$mobile) {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

.row:nth-child(2n) {
  @media (min-width: breakpoint.$mobile) {
    background: color.$gray-50;
  }

  @media (min-width: breakpoint.$mobile) {
    background: color.$gray-50;
  }
}

.cell {
  padding: space.$s4 space.$s6;
  color: color.$gray-500;
  font: font.$text-sm-regular;
}

.issueCell {
  composes: cell;
  display: flex;
  align-items: center;
  padding: space.$s4 0;

  @media (min-width: breakpoint.$mobile) {
    padding: space.$s4 space.$s6;
  }
}

.hideOnMobile {
  display: none;

  @media (min-width: breakpoint.$mobile) {
    display: table-cell;
  }
}

.mobileStatsContainer {
  display: flex;
  gap: 0.625rem;

  @media (min-width: breakpoint.$mobile) {
    display: none;
  }
}

.mobileCell {
  composes: cell;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
}

.languageIcon {
  width: space.$s10;
  margin-right: space.$s3;
}

.errorTypeAndMessage {
  color: color.$gray-900;
}

.errorType {
  font: font.$text-sm-medium;
}
