@use "@styles/breakpoint";

.filterBar {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  margin-bottom: 1.5rem;

  @media (min-width: breakpoint.$mobile) {
    flex-direction: row;
    align-items: center;
  }
}

.button {
  margin-right: auto;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 1rem;

  @media (min-width: breakpoint.$mobile) {
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
  }
}

.filter {
  display: flex;

  @media (min-width: breakpoint.$mobile) {
    max-width: 10rem;
  }
}

.input {
  display: flex;
  margin-bottom: -0.4rem;

  @media (min-width: breakpoint.$mobile) {
    max-width: 17.5rem;
  }
}
